<!DOCTYPE html>
{% load static from staticfiles %}
{% load tags %}

<!--
{% load cookielaw_tags %}
{% cookielaw_banner %}
-->

<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap-theme.min.css' %}">
        <!-- link rel="stylesheet" href="{% static 'fancybox/jquery.fancybox.css' %}" type="text/css" media="screen" / -->
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
<!--
        <link rel="stylesheet" type="text/css" href="uikit/css/uikit.gradient.min.css"/>
        <script type="text/javascript" src="uikit/js/uikit.min.js"></script>
-->
        <link rel="stylesheet" href="{% static 'jquery_lightbox/css/lightbox.css' %}"/>
        {% block extrahead %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"  type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- script type="text/javascript" src="{% static 'fancybox/jquery.fancybox.pack.js' %}"></script -->
        <script type="text/javascript" src="{% static 'jquery_lightbox/js/lightbox.js' %}"></script>
        {% endblock %}
<!--
<script>
$(document).ready( function() {
  $('#pagination').dataTable( {
    "oLanguage": {
      "oPaginate": {
        "sNext": "Następna",
        "sFirst": "Pierwsza"
      }
    }

  } );
} );
</script>

<div class="pagination">
<span class="step-links">
<span class="current"> Page of . </span>
<a href="?page=2">next</a>
</span>
</div>

-->
    </head>
    <body>
<!--
        <header id="top" class="navbar navbar-static-top bs-docs-nav" role="banner">
        <div class="blog-masthead">
          <div class="container">
            <nav class="blog-nav">
              <a class="blog-nav-item {% active request '^/$' %}" href="{% url 'post_list' %}"><span class="glyphicon glyphicon-home"></span> Przedszkole 32</a>
                {% if user.is_authenticated %}
              <a class="blog-nav-item {% active request 'new' %}" href="{% url 'post_new' %}">Nowy wpis</a>
                {% endif %}
                <a class="blog-nav-item {% active request 'zapisy' %}" href="{% url 'post_zapisy' %}">Zapisy</a>
                <a class="blog-nav-item {% active request 'about' %}" href="{% url 'post_about' %}">Kontakt</a>
                <a class="blog-nav-item" href="#">Jadłospis</a>
                {% if user.is_authenticated %}
                    {{ user.username }} <a href="{% url 'logout' %}?next_page={{request.path}}">Logout</a>
                {% else %}
                    <a class="blog-nav-item {% active request 'login' %}" href="{% url 'login' %}{% if request.GET %}?{{ request.GET.urlencode }}&next_page={{request.path}}{% else %}?next_page={{request.path}}{% endif %}">Login</a>
                {% endif %}
            </nav>
          </div>
        </div>
        </header>
-->
<div class="container">

    <nav class="navbar navbar-inverse"> <!-- -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Przedszkole32</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle glyphicon glyphicon-th-list" data-toggle="dropdown" href="#"><span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'post_list' %}">Dla wszystkich <span class="glyphicon glyphicon-ok"></span></a></li>
            <li><a href="{% url 'post_list_grp1' %}">Grupa 1</a></li>
            <li><a href="{% url 'post_list_grp2' %}">Grupa 2</a></li>
            <li><a href="{% url 'post_list_grp3' %}">Grupa 3</a></li>
            <li><a href="{% url 'post_list_grp4' %}">Grupa 4</a></li>
            <li><a href="{% url 'post_list_grp5' %}">Grupa 5</a></li>
          </ul>
        </li>
        <li class="{% active request '^/$' %}">
          <a class="blog-nav-item " href="{% url 'post_list' %}"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        {% if user.is_authenticated %}
        <li><a class="blog-nav-item {% active request 'new' %}" href="{% url 'post_new' %}">Nowy wpis</a></li>
        {% endif %}
        <li><a class="blog-nav-item {% active request 'zapisy' %}" href="{% url 'post_zapisy' %}">Zapisy</a></li>
        <li><a class="blog-nav-item {% active request 'about' %}" href="{% url 'post_about' %}">Kontakt</a></li>
        <li><a class="blog-nav-item" href="#">Jadłospis</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="#"><span class="blog-nav-item">{{ user.username }}</span></a></li>
            <li>
               <a href="{% url 'logout' %}?next_page={{request.path}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
          {% else %}
          <li>
              <a href="{% url 'login' %}{% if request.GET %}?{{ request.GET.urlencode }}&next_page={{request.path}}{% else %}?next_page={{request.path}}{% endif %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>

  <div class="col-sm-9" id="page-content-wrapper">

        <div class="page-header">
{% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
{% endif %}
            <h1 class="blog-title">Przedszkole 32 w Rzeszowie</h1>
<!--            <img src="{% static 'blog/images/napis.png' %}"/> -->
            <!--
            <script type="text/javascript">
            $(document).ready(function(){
                var price = $('<p>From $399,99</p>');
                $('.vacation').append(price);
                console.log("set price" . price);

            });
            </script>
            <ul>
            <li class="vacation">
                <ul>Test</ul>
                <p>ffd </p>
            </li>
            </ul>
            -->
        </div>
        {% if messages %}
            {% for message in messages %}
        <div id="id_messages" class="alert alert-{% if message.tags == 'error' %}danger {% else %}{{ message.tags }} {% endif %} text-center">
              <!-- a class="close" data-dismiss="alert">×</a -->
              <button id="message-close" class="close" data-dismiss="alert">x</button>
              <strong><span class="{% if message.tags == 'error' %} glyphicon glyphicon-exclamation-sign {% else %} glyphicon glyphicon-ok {% endif %}"></span>
                    {{ message }}
             </strong>
        </div>
            {% endfor %}
        <script type="text/javascript">
$(document).ready(function(){
    $( "#id_messages" ).click(function() {
        //  console.log("funkcja id_message 2");
        $(this).fadeOut( "slow" );
    });

    (function(){
        console.log("delay")
        $( "#id_messages" ).delay(2000).fadeOut( "slow" );
    })();

});
</script>
        {% endif %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

        </div>
</div>

        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write( '<script src="static/jquery/jquery.min.js"><\/script>' )
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
    </body>
</html>
