{% extends 'blog/base.html' %}

{% block content %}
    <h1>Nowy wpis:</h1>
    <form method="post" class="post-form">{% csrf_token %}
        <div id="{{ field.auto_id }}_container class="container container-fluid">
            <div class="row">
            {% for field in form %}
                {% if field.auto_id = 'id_grop_0' or field.auto_id = 'id_grop_1' or field.auto_id = 'id_grop_2' or field.auto_id = 'id_grop_3' or field.auto_id = 'id_grop_4' or field.auto_id = 'id_grop_5' %}
                    <div class="col-md-2">{{ field.label_tag }} </div>
                    <div class="col-md-2">{{ field }}</div>
                {% else %}
                    <div>
                    {{ field.label_tag }} {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <button type="submit" name="send" class="save btn btn-default glyphicon glyphicon-saved"></button>
        <button type="submit" name="draft" class="save btn btn-default glyphicon glyphicon-pencil"></button>
        <button type="submit" name="cancel" class="save btn btn-default glyphicon glyphicon-remove"></button>
    </form>
{% endblock content %}
