{% load staticfiles %}
<html>
    <head>
        <title>list posts</title>
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap-theme.min.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <!--
        <link rel="stylesheet" type="text/css" href="uikit/css/uikit.gradient.min.css"/>
        <script type="text/javascript" src="uikit/js/uikit.min.js"></script>
-->
    </head>
    <body>
        <div>
            <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>
    <div class="content container">
        <h1 class="blog-title">Przedszkole 32</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>
            <div class="row">
        <div class="col-md-8">
                {% for post in posts %}
                <div class="post">
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </body>
</html>