<html>
    <head>
        <title>list posts</title>
        <link rel="stylesheet" type="text/css" href="uikit/css/uikit.gradient.min.css"/>
        <script type="text/javascript" src="uikit/js/uikit.min.js"></script>
    </head>
    <body>
        <div class="uk-container uk-container-center uk-margin-top">
            <div>
                <h1><a href="">Blog</a></h1>
            </div>
            <div>
                {% for post in posts %}
                <div>
                    <p>wysłany: {{ post.published_date }} </p>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>