<html>
    <head>
        <title>list posts</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog</a></h1>
        </div>
        <div>
            <p>Opublikowany: 28.04.2016, 20:45</p>
            <h2><a href="">Moj pierwszy post</a></h2>
            <p>Tresc postu</p>
        </div>
        <div>
            <p>Opublikowany: 27.04.2016, 18:45</p>
            <h2><a href="">Moj pierwszy post test</a></h2>
            <p>Tresc postu  brak</p>
        </div>
    </body>
</html>